head
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet")

body(style=`margin: 0; padding: 0;`)
    table(border="0" cellpadding="10" cellspacing="10" style=`width: 600px; font-family: "Roboto Slab", system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";`)
        tr(style="width: 600px;")
            td(valign="bottom" align="bottom" style="background-image: url('https://i.ibb.co/cvvY0Y0/coffee-171653-640.jpg'); background-position: left bottom; border-radius: 4px; height: 300px;")
                table(border="0" cellspacing="0" cellpadding="10")
                    tr
                        td
                            h1(style="text-align: left; margin: 0; color: #FFFFFF; font-size: 60px; line-height: 60px;") BuckStar Coffee
        tr
            td(style="background-image: url('https://i.ibb.co/Dp7rz7n/arabica-aroma-aromatic-796609.jpg'); background-position: center; border-radius: 4px; height: 100px; color: #FFFFFF;")
                h2(style="text-align: center; margin: 0; letter-spacing: 2px; font-size: 50px;") 100% ARABICA
        
        tr(style=`width: 600px; height: 200px; background-color: #F4EDE3;`)
            td(style="border-radius: 4px;")
                table(border="0" cellspacing="0" cellpadding="10")
                    tr
                        td 
                            h2(style=`margin: 0;`) Check out your rewards
                
                table(border="0" cellspacing="0" cellpadding="10")
                    tr(style=`background-color: #F4EDE3;`)
                        td(valign="top" align="center" style=`width: 200px;vertical-align:top;`)
                            img(src="https://img.icons8.com/ios/50/000000/secured-letter-filled.png")
                            p(style=`margin: 0;text-align: left;`) You will be notified about exclusive discounts as well as special items arriving on our secret menu. 
                        td(valign="top" align="center" style=`width: 200px;vertical-align:top;`)
                            img(src="https://img.icons8.com/ios/50/000000/bank-card-back-side-filled.png")
                            p(style=`margin: 0;text-align: left;`) With a BuckStar card, receive bonus credit everytime you top up via our app.
                        td(valign="top" align="center" style=`width: 200px;vertical-align:top;`)
                            img(src="https://img.icons8.com/ios/50/000000/cafe-filled.png")
                            p(style=`margin: 0;text-align: left;`) Invite a friend to join our loyalty program and get free drinks on us!
        tr(style=`width: 600px;`)
            td(style="border-radius: 4px; border: 1px solid grey; border-radius: 4px; font-size: 14px;")
                a BuckStar card Terms of Use 
                a Privacy Policy
                p We've contacted you because you registered at buckstar.com for news & promotions. Don't want these emails?
                    a  Click here to unsubscribe.
                p(style="margin: 0; font-size: 12px;") Copyright © 2019 BuckStar Coffee. All rights reserved.
        tr(style=`width: 600px;`)
            td(style="border-radius: 4px; font-size: 14px;")
                p
                    a(href="https://icons8.com/icon/22185/credit-card-filled") Credit Card Filled icon by Icons8
                p
                    a(href="https://icons8.com/icon/37302/cafe-filled") Cafe Filled icon by Icons8
                p
                    a(href="https://icons8.com/icon/2848/secured-letter-filled") Secured Letter Filled icon by Icons8